<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="http://www.com.ohio.gov/documents/liqr_newProducts.pdf"/>
    <add key="oldfile" value="/home/zburns/ohio/liquor-old.pdf"/>
    <add key="newfile" value="/home/zburns/ohio/liquor-new.pdf"/>
  </appSettings>
</configuration>
